<div class="translate-container">
  <div class="buttons">
    <h3>FROM:</h3>
    <mat-button-toggle-group name="fromLanguage" #fromGroup (change)="change('from', $event)">
      <mat-button-toggle value="en" checked>English</mat-button-toggle>
      <mat-button-toggle value="de">German</mat-button-toggle>
      <mat-button-toggle value="fr">French</mat-button-toggle>
      <mat-button-toggle value="es">Spanish</mat-button-toggle>
      <mat-button-toggle value="tl">Filipino</mat-button-toggle>
    </mat-button-toggle-group>

  </div>

  <div class="input">
    <mat-form-field>
      <input matInput type="text"  [formControl]="inputTextControl"  placeholder="Enter text" />
    </mat-form-field>
  </div>

  <div class="buttons">
    <h3>TO:</h3>
    <mat-button-toggle-group name="toLanguage" #toGroup (change)="change('to', $event)">
      <mat-button-toggle value="en">English</mat-button-toggle>
      <mat-button-toggle value="de" checked>German</mat-button-toggle>
      <mat-button-toggle value="fr">French</mat-button-toggle>
      <mat-button-toggle value="es">Spanish</mat-button-toggle>
      <mat-button-toggle value="tl">Filipino</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <h2>{{ translatedText }}</h2>

</div>
